In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import numpy as np

In [2]:
df= pd.read_csv('./CSVs/Cleaned_df.csv')

In [3]:
df.head()

,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_has_profile_pic,host_identity_verified,accommodates,bathrooms,bedrooms,beds,...,area_name_san_blas,area_name_san_fernando_de_henares,area_name_tetuan_de_las_victorias,area_name_usera,area_name_vicalvaro,area_name_villa_de_vallecas,area_name_villaverde,host_response_time_within_a_day,host_response_time_within_a_few_hours,host_response_time_within_an_hour
0,4.0,3.0,1,1.0,1,0,2,1.0,1.0,0.0,...,0,0,0,0,0,0,0,0,1,0
1,4.0,4.0,0,2.0,1,1,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,1
2,4.0,3.0,0,9.0,1,0,6,2.0,3.0,5.0,...,0,0,0,1,0,0,0,0,0,1
3,4.0,3.0,0,1.0,1,1,3,1.0,0.0,1.0,...,0,0,0,0,0,0,0,0,1,0
4,4.0,4.0,1,1.0,1,0,4,1.5,2.0,3.0,...,0,0,0,0,0,0,0,0,0,1

# Splitting in train and test

In [4]:
#Divide train and test
splitter = train_test_split
"-----------------------"

df_train, df_test = splitter(df, test_size = 0.3, random_state = 42)
print("Dataset shape: {shape}".format(shape = df_train.shape))
print("Dataset shape: {shape}".format(shape = df_test.shape))

Dataset shape: (15283, 113)
Dataset shape: (6550, 113)

In [5]:
target = 'price'
#variables = features
X_train= df_train.drop('price',axis=1)
y_train = df_train[target]

X_test= df_test.drop('price',axis=1)
y_test = df_test[target]

# Linear Regression

In [6]:
reg = LinearRegression().fit(X_train, y_train)

In [7]:
pred_train = reg.predict(X_train)
pred_test = reg.predict(X_test)

In [8]:
def mean_absolute_percentage_error(y_true,y_pred):
    y_true = np.array(y_true)
    y_pred = np.array(y_pred)
    return (np.sum(np.abs(y_true-y_pred)/y_true)/len(y_true))*100

In [9]:
print('MAPE TRAIN:',mean_absolute_percentage_error(y_train,pred_train) )
print('MAPE TEST:',mean_absolute_percentage_error(y_test,pred_test) )

MAPE TRAIN: 272.0879743395779
MAPE TEST: 268.38727783931205

This is our 'benchmark model' so we can check all other models are improving a really basic model without any fine tuning or feature selection.

Camila Barbagallo, Ryan Daher, RocÃ­o GonzÃ¡lez Lantero, Paula GarcÃ­a