In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.neural_network import MLPRegressor
import matplotlib.pyplot as plt

In [16]:
df= pd.read_csv('./CSVs/Modelling.csv')

In [17]:
pd.set_option('display.max_columns', None)
pd.set_option("display.max_rows",None)

In [18]:
df.head()

,maximum_nights,extra_people,guests_included,beds,availability_365,accommodates,bedrooms,host_listings_count,host_for,number_of_reviews_ltm,minimum_nights,bathrooms,secure,cleaning_fee,room_type_private_room,host_acceptance_rate,elevator,white_goods,host_response_rate,security_deposit,government,review_scores_value,area_name_salamanca,area_name_san_blas,price
0,365,15.0,2,0.0,77,2,1.0,1.0,4010,14,1,1.0,0.0,1.0,1,3.0,1.0,1.0,4.0,0.0,1.0,10.0,0,0,70.0
1,40,8.0,1,1.0,200,1,1.0,2.0,3699,0,4,1.0,0.0,0.0,1,4.0,1.0,1.0,4.0,0.0,1.0,9.0,0,0,17.0
2,730,10.0,1,5.0,249,6,3.0,9.0,3703,0,15,2.0,0.0,1.0,0,3.0,1.0,1.0,4.0,1.0,1.0,9.0,0,0,50.0
3,730,10.0,2,1.0,364,3,0.0,1.0,3661,7,4,1.0,0.0,1.0,0,3.0,1.0,1.0,4.0,1.0,1.0,10.0,0,0,89.0
4,10,0.0,4,3.0,322,4,2.0,1.0,3661,16,3,1.5,0.0,0.0,0,4.0,1.0,1.0,4.0,1.0,0.0,10.0,0,0,115.0

# Train Test Split

In [19]:
splitter = train_test_split
"-----------------------"

df_train, df_test = splitter(df, test_size = 0.3, random_state = 42)
print("Dataset shape: {shape}".format(shape = df_train.shape))
print("Dataset shape: {shape}".format(shape = df_test.shape))

Dataset shape: (15283, 25)
Dataset shape: (6550, 25)

In [20]:
target = 'price'
X_train= df_train.drop('price',axis=1)
y_train = df_train[target]

X_test= df_test.drop('price',axis=1)
y_test = df_test[target]

# Standardizing and Normalizing

In [21]:
scaler = StandardScaler()
X_train_sc = scaler.fit_transform(X_train)
X_test_sc = scaler.fit_transform(X_test)
X_train = pd.DataFrame(X_train_sc, index=X_train.index, columns=X_train.columns)
X_test = pd.DataFrame(X_test_sc, index=X_test.index, columns=X_test.columns)

In [22]:
scaler = MinMaxScaler()
X_trains = scaler.fit_transform(X_train_sc)
X_tests = scaler.fit_transform(X_test_sc)
X_train = pd.DataFrame(X_trains, index=X_train.index, columns=X_train.columns)
X_test = pd.DataFrame(X_tests, index=X_test.index, columns=X_test.columns)

In [23]:
X_train.head()

,maximum_nights,extra_people,guests_included,beds,availability_365,accommodates,bedrooms,host_listings_count,host_for,number_of_reviews_ltm,minimum_nights,bathrooms,secure,cleaning_fee,room_type_private_room,host_acceptance_rate,elevator,white_goods,host_response_rate,security_deposit,government,review_scores_value,area_name_salamanca,area_name_san_blas
3693,1.011600e-05,0.000000,0.000000,0.02,0.000000,0.052632,0.111111,0.001898,0.331536,0.000000,0.003559,0.090909,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.875,0.0,0.0
6385,1.011600e-05,0.000000,0.000000,0.02,0.715068,0.000000,0.111111,0.009488,0.478314,0.039877,0.024021,0.090909,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.875,0.0,0.0
4029,1.260000e-07,0.000000,0.000000,0.04,0.000000,0.157895,0.111111,0.001898,0.635874,0.000000,0.003559,0.090909,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.875,1.0,0.0
7220,8.010000e-07,0.055762,0.066667,0.04,0.873973,0.263158,0.222222,0.091082,0.520706,0.079755,0.001779,0.090909,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.000,0.0,0.0
3995,1.800000e-07,0.037175,0.000000,0.02,0.158904,0.052632,0.111111,0.001898,0.323940,0.015337,0.001779,0.090909,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.875,0.0,0.0

# Neural Network

__Fit the Neural Network__

hidden_layer_sizestuple, length = n_layers - 2, default=(100,)

activation{‚Äòidentity‚Äô, ‚Äòlogistic‚Äô, ‚Äòtanh‚Äô, ‚Äòrelu‚Äô}, default=‚Äôrelu‚Äô

solver{‚Äòlbfgs‚Äô, ‚Äòsgd‚Äô, ‚Äòadam‚Äô}, default=‚Äôadam‚Äô

alphafloat, default=0.0001

batch_sizeint, default=‚Äôauto‚Äô

learning_rate{‚Äòconstant‚Äô, ‚Äòinvscaling‚Äô, ‚Äòadaptive‚Äô}, default=‚Äôconstant‚Äô
Only used when solver=‚Äôsgd‚Äô.

learning_rate_initdouble, default=0.001

power_tdouble, default=0.5

max_iterint, default=200

shufflebool, default=True

random_stateint, RandomState instance or None, default=None

tolfloat, default=1e-4

verbosebool, default=False

warm_startbool, default=False

momentumfloat, default=0.9
Only used when solver=‚Äôsgd‚Äô.

nesterovs_momentumboolean, default=True
Only used when solver=‚Äôsgd‚Äô and momentum > 0.

early_stoppingbool, default=False
Only effective when solver=‚Äôsgd‚Äô or ‚Äòadam‚Äô

validation_fractionfloat, default=0.1
Only used if early_stopping is True

beta_1float, default=0.9
Only used when solver=‚Äôadam‚Äô

beta_2float, default=0.999
Only used when solver=‚Äôadam‚Äô

epsilonfloat, default=1e-8
Only used when solver=‚Äôadam‚Äô

n_iter_no_changeint, default=10
Only effective when solver=‚Äôsgd‚Äô or ‚Äòadam‚Äô

max_funint, default=15000

In [10]:
clf = MLPRegressor(hidden_layer_sizes=(16,16),activation='tanh',solver='adam',random_state=0)
clf = clf.fit(X_train, y_train)

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [11]:
y_pred = clf.predict(X_test)
y_predT = clf.predict(X_train)

In [24]:
def mean_absolute_percentage_error(y_true,y_pred):
    y_true = np.array(y_true)
    y_pred = np.array(y_pred)
    return (np.sum(np.abs(y_true-y_pred)/y_true)/len(y_true))*100

In [13]:
print('TRAIN',mean_absolute_percentage_error(y_train, y_predT))
print('TEST',mean_absolute_percentage_error(y_test, y_pred))

TRAIN 80.379399814478
TEST 77.65193986226753

Camila Barbagallo, Ryan Daher, Paula Garc√≠a, Roc√≠o Gonz√°lez Lantero