In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
from sklearn.linear_model import ElasticNet
from sklearn.metrics import r2_score

In [2]:
df= pd.read_csv('./CSVs/Modelling.csv')

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option("display.max_rows",None)

In [4]:
df.head()

,maximum_nights,extra_people,guests_included,beds,availability_365,accommodates,bedrooms,host_listings_count,host_for,number_of_reviews_ltm,minimum_nights,bathrooms,secure,cleaning_fee,room_type_private_room,host_acceptance_rate,elevator,white_goods,host_response_rate,security_deposit,government,review_scores_value,area_name_salamanca,area_name_san_blas,price
0,365,15.0,2,0.0,77,2,1.0,1.0,4010,14,1,1.0,0.0,1.0,1,3.0,1.0,1.0,4.0,0.0,1.0,10.0,0,0,70.0
1,40,8.0,1,1.0,200,1,1.0,2.0,3699,0,4,1.0,0.0,0.0,1,4.0,1.0,1.0,4.0,0.0,1.0,9.0,0,0,17.0
2,730,10.0,1,5.0,249,6,3.0,9.0,3703,0,15,2.0,0.0,1.0,0,3.0,1.0,1.0,4.0,1.0,1.0,9.0,0,0,50.0
3,730,10.0,2,1.0,364,3,0.0,1.0,3661,7,4,1.0,0.0,1.0,0,3.0,1.0,1.0,4.0,1.0,1.0,10.0,0,0,89.0
4,10,0.0,4,3.0,322,4,2.0,1.0,3661,16,3,1.5,0.0,0.0,0,4.0,1.0,1.0,4.0,1.0,0.0,10.0,0,0,115.0

# Train Test Split

In [5]:
splitter = train_test_split
"-----------------------"

df_train, df_test = splitter(df, test_size = 0.3, random_state = 42)
print("Dataset shape: {shape}".format(shape = df_train.shape))
print("Dataset shape: {shape}".format(shape = df_test.shape))

Dataset shape: (15283, 25)
Dataset shape: (6550, 25)

In [6]:
target = 'price'

X_train= df_train.drop('price',axis=1)
y_train = df_train[target]

X_test= df_test.drop('price',axis=1)
y_test = df_test[target]

# Standardizing and Normalizing

In [7]:
scaler = StandardScaler()
X_train_sc = scaler.fit_transform(X_train)
X_test_sc = scaler.fit_transform(X_test)
X_train = pd.DataFrame(X_train_sc, index=X_train.index, columns=X_train.columns)
X_test = pd.DataFrame(X_test_sc, index=X_test.index, columns=X_test.columns)

In [8]:
scaler = MinMaxScaler()
X_trains = scaler.fit_transform(X_train_sc)
X_tests = scaler.fit_transform(X_test_sc)
X_train = pd.DataFrame(X_trains, index=X_train.index, columns=X_train.columns)
X_test = pd.DataFrame(X_tests, index=X_test.index, columns=X_test.columns)

In [9]:
X_train.head()

,maximum_nights,extra_people,guests_included,beds,availability_365,accommodates,bedrooms,host_listings_count,host_for,number_of_reviews_ltm,minimum_nights,bathrooms,secure,cleaning_fee,room_type_private_room,host_acceptance_rate,elevator,white_goods,host_response_rate,security_deposit,government,review_scores_value,area_name_salamanca,area_name_san_blas
3693,1.011600e-05,0.000000,0.000000,0.02,0.000000,0.052632,0.111111,0.001898,0.331536,0.000000,0.003559,0.090909,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.875,0.0,0.0
6385,1.011600e-05,0.000000,0.000000,0.02,0.715068,0.000000,0.111111,0.009488,0.478314,0.039877,0.024021,0.090909,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.875,0.0,0.0
4029,1.260000e-07,0.000000,0.000000,0.04,0.000000,0.157895,0.111111,0.001898,0.635874,0.000000,0.003559,0.090909,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,0.875,1.0,0.0
7220,8.010000e-07,0.055762,0.066667,0.04,0.873973,0.263158,0.222222,0.091082,0.520706,0.079755,0.001779,0.090909,0.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.000,0.0,0.0
3995,1.800000e-07,0.037175,0.000000,0.02,0.158904,0.052632,0.111111,0.001898,0.323940,0.015337,0.001779,0.090909,0.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.875,0.0,0.0

In [10]:
def mean_absolute_percentage_error(y_true,y_pred):
    y_true = np.array(y_true)
    y_pred = np.array(y_pred)
    return (np.sum(np.abs(y_true-y_pred)/y_true)/len(y_true))*100

# Regression Tree

In [11]:
tree_model = DecisionTreeRegressor(random_state=42)
tree_model.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=42, splitter='best')

In [12]:
y_pred_tree = tree_model.predict(X_test)
print('----TRAIN----')
print('Mean Squared Error for Regression Tree:', mean_squared_error(y_train, tree_model.predict(X_train)))
print('Root Mean Squared Error for Regression Tree:', np.sqrt(mean_squared_error(y_train, tree_model.predict(X_train))))
print('R^2 for Regression Tree:',r2_score(y_train, tree_model.predict(X_train)))
print('MAPE for Regression Tree:',mean_absolute_percentage_error(y_train, tree_model.predict(X_train)))
print('\n----TEST----')
print('Mean Squared Error for Regression Tree:', mean_squared_error(y_test, y_pred_tree))
print('Root Mean Squared Error for Regression Tree:', np.sqrt(mean_squared_error(y_test, y_pred_tree)))
print('R^2 for Regression Tree:',r2_score(y_test, y_pred_tree))
print('MAPE for Regression Tree:',mean_absolute_percentage_error(y_test, y_pred_tree))

----TRAIN----
Mean Squared Error for Regression Tree: 6.373983074876223
Root Mean Squared Error for Regression Tree: 2.524674845376375
R^2 for Regression Tree: 0.9999753623128372
MAPE for Regression Tree: 0.030000257142757947

----TEST----
Mean Squared Error for Regression Tree: 167252.71966497033
Root Mean Squared Error for Regression Tree: 408.965426001967
R^2 for Regression Tree: 0.3661195637373649
MAPE for Regression Tree: 83.22558815127773

# Stochastic Gradient Descent

In [13]:
gradient_model = linear_model.SGDRegressor(max_iter=1000, tol=1e-3, random_state = 42)
gradient_model.fit(X_train, y_train)

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='invscaling', loss='squared_loss', max_iter=1000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=42,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [14]:
y_pred_gradient = gradient_model.predict(X_test)
print('----TRAIN----')
print('Mean Squared Error for Stochastic Gradient Descent:', mean_squared_error(y_train, gradient_model.predict(X_train)))
print('Root Mean Squared Error for Stochastic Gradient Descent:', np.sqrt(mean_squared_error(y_train, gradient_model.predict(X_train))))
print('R^2 for Stochastic Gradient Descent:',r2_score(y_train, gradient_model.predict(X_train)))
print('MAPE for Stochastic Gradient Descent:',mean_absolute_percentage_error(y_train, gradient_model.predict(X_train)))
print('\n----TEST----')
print('Mean Squared Error for Stochastic Gradient Descent:', mean_squared_error(y_test, y_pred_gradient))
print('Root Mean Squared Error for Stochastic Gradient Descent:', np.sqrt(mean_squared_error(y_test, y_pred_gradient)))
print('R^2 for Stochastic Gradient Descent:',r2_score(y_test, y_pred_gradient))
print('MAPE for Stochastic Gradient Descent:',mean_absolute_percentage_error(y_test, y_pred_gradient))

----TRAIN----
Mean Squared Error for Stochastic Gradient Descent: 239431.92726790134
Root Mean Squared Error for Stochastic Gradient Descent: 489.3178182612006
R^2 for Stochastic Gradient Descent: 0.07451136102726919
MAPE for Stochastic Gradient Descent: 200.17975042678808

----TEST----
Mean Squared Error for Stochastic Gradient Descent: 243012.17642107658
Root Mean Squared Error for Stochastic Gradient Descent: 492.96265215640483
R^2 for Stochastic Gradient Descent: 0.07899456155039741
MAPE for Stochastic Gradient Descent: 202.13221777648283

# Multiple Regression

In [15]:
multiple_model = linear_model.LinearRegression()
multiple_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
y_pred_multiple = multiple_model.predict(X_test)
print('----TRAIN----')
print('Mean Squared Error for Multiple Regression:', mean_squared_error(y_train, multiple_model.predict(X_train)))
print('Root Mean Squared Error for Multiple Regression:', np.sqrt(mean_squared_error(y_train, multiple_model.predict(X_train))))
print('R^2 for Multiple Regression:',r2_score(y_train, multiple_model.predict(X_train)))
print('MAPE for Multiple Regression:',mean_absolute_percentage_error(y_train, multiple_model.predict(X_train)))
print('\n----TEST----')
print('Mean Squared Error for Multiple Regression:', mean_squared_error(y_test, y_pred_multiple))
print('Root Mean Squared Error for Multiple Regression:', np.sqrt(mean_squared_error(y_test, y_pred_multiple)))
print('R^2 for Multiple Regression:',r2_score(y_test, y_pred_multiple))
print('MAPE for Multiple Regression:',mean_absolute_percentage_error(y_test, y_pred_multiple))

----TRAIN----
Mean Squared Error for Multiple Regression: 239051.341714417
Root Mean Squared Error for Multiple Regression: 488.9287695712096
R^2 for Multiple Regression: 0.07598245809408921
MAPE for Multiple Regression: 211.72601471335008

----TEST----
Mean Squared Error for Multiple Regression: 243631.4797429635
Root Mean Squared Error for Multiple Regression: 493.59039672887025
R^2 for Multiple Regression: 0.07664742925477341
MAPE for Multiple Regression: 218.49697165762228

# Elastic Net

In [17]:
regr = ElasticNet(random_state=0)
regr.fit(X_train, y_train)

ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
           max_iter=1000, normalize=False, positive=False, precompute=False,
           random_state=0, selection='cyclic', tol=0.0001, warm_start=False)

In [18]:
yt_pred_en = regr.predict(X_train)
yte_pred_en=regr.predict(X_test)

In [20]:
print('----TRAIN----')
print('Mean Squared Error for EN:', mean_squared_error(y_train, yt_pred_en))
print('Root Mean Squared Error for EN:', np.sqrt(mean_squared_error(y_train, yt_pred_en)))
print('R^2: ',r2_score(y_train, yt_pred_en))
print('MAPE: ',mean_absolute_percentage_error(y_train, yt_pred_en))
print('\n----TEST----')
print('Mean Squared Error for EN:', mean_squared_error(y_test, yte_pred_en))
print('Root Mean Squared Error for EN:', np.sqrt(mean_squared_error(y_test, yte_pred_en)))
print('R^2: ',r2_score(y_test, yte_pred_en))
print('MAPE: ',mean_absolute_percentage_error(y_test, yte_pred_en))

----TRAIN----
Mean Squared Error for EN: 253645.04636695847
Root Mean Squared Error for EN: 503.6318559890334
R^2:  0.019572655063358257
MAPE:  204.21112310005327

----TEST----
Mean Squared Error for EN: 258113.90871789108
Root Mean Squared Error for EN: 508.0491203790152
R^2:  0.021759661718563805
MAPE:  199.59124730571918

Camila Barbagallo, Ryan Daher, Paula García, Rocío González Lantero